body {
    margin: 0;
} 

.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    color: white;
    width: 600px;
    font-family: 'Smythe', cursive;
    margin-bottom: 60px;
  }

#header-img {
    width: 100%;
}

.centered-left {
    position: absolute;
    bottom: 60px;
    left : 40px;
}

h1 {
   font-size: 39px;
   margin: 0;
   font-weight: 100;
}

h2 {
    font-size: 22px;
    margin: 0;
    font-weight: 100;
}

main {
    width: 600px;
    margin-right: auto;
    margin-left: auto;
}

.dish {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    border-bottom: solid 1px #D2D2D2;
    padding-bottom: 60px;
}

.dish-description {
    display: flex;
}

.dish-emoji {
    font-size: 70px;
    padding-right: 20px;
}

.dish-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Smythe', cursive;
}

.dish-name {
    font-weight: 300;
    font-size: 28px;
}

.dish-ingredients {
    font-size: 16px;
    color: #8B8B8B;
}

.dish-price {
    font-weight: 400;
    font-size: 20px;
}

.add {
    border: solid 1px #D2D2D2;
    font-size: 32px;
    border-radius: 50%;
    padding: 7px 15px;
    cursor: pointer;
}

#order {
    font-weight: 500;
    font-size: 28px;
    font-family: 'Smythe', cursive;
    text-align: center;
    margin-top: 50px;
}

.display-none {
    display: none;
}

#order-title {
    margin-bottom: 50px;
}

#ordered-dishes {
    margin-bottom: 30px;
}

.ordered-dishes-info {
    display: flex;
    justify-content: space-between; 
}

.ordered-dishes-details{
    display: flex;
}

.remove-btn {
    margin-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    margin-top: 10px;
    color: #BBBBBB;
    cursor: pointer;
}

#bill {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    border-top: solid 2px #393333;
}

#complete-order-btn {
    background-color: #16DB99;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    padding: 20px 0px;
    margin-top: 30px;
    cursor: pointer;
}

#order-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
    height: 542px;
    width: 524px;
    box-shadow: 0px 0px 50px 10px #666;
    font-family: verdana;
    border-radius: 4px;
    background-color: white;
}

#modal-title {
    font-size: 24px;
    font-weight: bolder;
    margin: 40px;
}

input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    height: 71px;
    width: 476px;
    font-size: 20px;
    padding-left: 30px;
    border-radius: 4px;
    border-color: #757575;
    color: #757575;
}

.modal-btn {
    background-color: #16DB99;
    border: none;
    border-radius: 4px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 20px 220px;
    margin-top: 30px;
    cursor: pointer;
}